<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SERVER</title>
    <link rel="stylesheet" href="/lib/w3.css">
  </head>
  <body style="margin: 0px auto;" ng-app="server-app">

    {{#if user}}
      <script>var user = {{{json user}}}</script>
    {{/if}}

    <style>

#nav a {
  margin: 2px;
}

    </style>

    <div id="nav" class="w3-bar w3-dark-gray w3-border">
      <a class="w3-bar-item w3-black w3-hover-red w3-border" style="text-decoration: none;" href="/current">CURRENT</a>
      <a class="w3-bar-item w3-black w3-hover-red w3-border" style="text-decoration: none;" href="/site">SITE</a>
      <a class="w3-bar-item w3-black w3-hover-red w3-border" style="text-decoration: none;" href="/scrap">SCRAP</a>
      {{#unless user}}
        <a class="w3-bar-item w3-black w3-hover-red w3-right w3-border" style="text-decoration: none;" href="/login">LOGIN</a>
      {{/unless}}

      {{#if user}}
        <a class="w3-bar-item w3-black w3-hover-red w3-right w3-border" style="text-decoration: none;" href="/dashboard">DASHBOARD</a>
      {{/if}}
    </div>

    {{#unless user}}
      <div class="w3-panel w3-card w3-pink">
        <h4>SEEMS THAT YOU ARE NOT LOGGED IN.</h4>
        <p>Adipisicing dignissimos ad impedit recusandae minima! Aspernatur eos dolores obcaecati sed rem Neque repellendus officia enim iure rem Tempore quae neque eos quae fugiat sunt, eaque Voluptatum voluptatem saepe sunt.</p>
        <p> <a class="w3-btn w3-blue" href="/login">LOG IN</a> </p>
      </div>
    {{/unless}}

    {{#if user}}
      <div class="w3-panel w3-card w3-blue w3-border">
        <h4>SEEMS THAT YOU ARE LOGGED IN.</h4>
        <h6>I guess you are {{user.name}} and ur username is  {{user.username}}.</h6>
        <p>Sit ipsum expedita dolorum non aperiam repellendus eaque Quasi dolorum quibusdam aspernatur placeat perferendis Obcaecati adipisci neque et quas quod! Odit repellat blanditiis fuga id illo? At quas velit provident?</p>
        <p>
        <a class="w3-btn w3-pink" href="/demo">DEMO</a> 
        <a class="w3-btn w3-purple" href="/game">PLAY A GAME</a> 
        <a class="w3-btn w3-red" href="/logout">LOG OUT</a> 
        </p>
      </div>
    {{/if}}

    <div class="w3-container">
      <div class="w3-container">
        <h1>BLOG POSTS</h1>
      </div>
      <div class="w3-row">
        <div class="w3-col m12 l5">
          <div class="w3-container">
            <div class="w3-panel w3-red w3-card w3-border">
              <h3>LOREM IPSUM</h3>
              <p>Consectetur inventore harum dolor assumenda laudantium Aspernatur libero deleniti incidunt sit dolor? Dicta possimus odit at officia veritatis. Reprehenderit mollitia!</p>
            </div>
            <div class="w3-panel w3-pink w3-card w3-border">
              <h3>LOREM IPSUM</h3>
              <p>Consectetur inventore harum dolor assumenda laudantium Aspernatur libero deleniti incidunt sit dolor? Dicta possimus odit at officia veritatis. Reprehenderit mollitia!</p>
            </div>
            <div class="w3-panel w3-purple w3-card w3-border">
              <h3>LOREM IPSUM</h3>
              <p>Consectetur inventore harum dolor assumenda laudantium Aspernatur libero deleniti incidunt sit dolor? Dicta possimus odit at officia veritatis. Reprehenderit mollitia!</p>
            </div>
          </div>
        </div>
        <div class="w3-col m8 l5">
          <server-app-blog-posts></server-app-blog-posts>
        </div>
        <div class="w3-col m4 l2">
          <server-app-post-create></server-app-post-create>
        </div>
      </div>
    </div>

    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-col m12 l6">
          <div>
            <h3>LOREM 1</h3>
            <p>Sit aliquid accusantium molestiae ex eligendi quasi! Repellendus voluptatem omnis quia illo sit sapiente Consectetur animi natus quo quis itaque Placeat quod saepe nihil laudantium corporis quis Accusantium laborum ex</p>
          </div>
        </div>
        <div class="w3-col m12 l6">
          <div>
            <h3>LOREM 2</h3>
            <p>Sit aliquid accusantium molestiae ex eligendi quasi! Repellendus voluptatem omnis quia illo sit sapiente Consectetur animi natus quo quis itaque Placeat quod saepe nihil laudantium corporis quis Accusantium laborum ex</p>
          </div>
        </div>
      </div>
    </div>

    <server-app-row></server-app-row>

    {{#if user}}
      <div class="w3-panel w3-pink w3-border w3-card">
        <h2>SEARCH PLACE</h2>
        <form action="">
          <div>
            <label>Text: </label>
            <input class="w3-input" type="text" name="text" placeholder="Place search text here." autofocus>
          </div>
          <div class="w3-panel">
            <button class="w3-btn w3-blue w3-right" type="submit">Search</button>
          </div>
        </form>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-pink w3-card" ng-app="nsite_app">
        <h2>nsite</h2>
        <p>Host: <% host %></p>
        <p>Port: <% port %></p>
        <p>Browser Sync Port: <% bs_port %></p>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-yellow w3-border">
        {{#if posts.length}}
          <h4>Latest {{ posts.length }} posts.</h4>
          {{#each posts}}
            <div class="post w3-card w3-border w3-purple w3-panel">
              <h5 class="title">{{ this.title }}</h5>
              <div class="body">{{ this.body }}</div>

              <p><small>Created at {{ this.createdAt }}</small></p>
            </div>
          {{/each}}
        {{else}}
          <h4>No posts in the database.</h4>
        {{/if}}
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-green w3-border">
        {{#if stacks.length}}
          <h4>Latest {{ stacks.length }} stacks.</h4>
          {{#each stacks}}
            <div class="stack w3-card w3-border w3-pale-yellow w3-panel">
              <h5 class="name">{{ this.name }}</h5>
              <div class="description">{{ this.description }}</div>

              <p><small>Created at {{ this.createdAt }}</small></p>
            </div>
          {{/each}}
        {{else}}
          <h4>No stacks in the database.</h4>
        {{/if}}
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-yellow w3-border">
        <h4>SO, YOU ARE LOGGED IN</h4>
        <div class="w3-panel">
          <a class="w3-btn w3-purple" href="/mustache" style="margin-bottom: 5px;">Mustache</a>
          <a class="w3-btn w3-purple" href="/opengl" style="margin-bottom: 5px;">OpenGL</a>
          <a class="w3-btn w3-purple" href="/node" style="margin-bottom: 5px;">Node</a>
          <a class="w3-btn w3-purple" href="/express" style="margin-bottom: 5px;">Express</a>
          <a class="w3-btn w3-purple" href="/laravel" style="margin-bottom: 5px;">Laravel</a>
          <a class="w3-btn w3-purple" href="/php" style="margin-bottom: 5px;">PHP</a>
          <a class="w3-btn w3-purple" href="/main" style="margin-bottom: 5px;">Main / Laravel</a>
        </div>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-border w3-red">
        <h6>SINGLE PAGE APPLICATION</h6>
        <p>
        <a class="w3-btn w3-yellow" href="/angular">Angular</a>
        </p>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-border w3-yellow">
        <h6>Languages</h6>
        <p>
        <a class="w3-btn w3-purple" href="/typescript">Typescript</a>
        </p>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-border w3-green">
        <h6>Javascript Libraries</h6>
        <p>
        <a class="w3-btn w3-blue" href="/chartjs">Chart.js</a>
        <a class="w3-btn w3-red" href="/codemirror">CodeMirror</a>
        <a class="w3-btn w3-pink" href="/prism">Prism</a>
        </p>
      </div>
    {{/if}}

    {{#if user.master}}
      <div class="w3-panel w3-card w3-border w3-red">
        <h6>PHP BOXEN</h6>
        <p>
        <a class="w3-btn w3-yellow" href="/php/slim/index.php">Slim</a>
        <a class="w3-btn w3-yellow" href="/php/crud/index.php">CRUD</a>
        </p>
      </div>

      <div class="w3-panel w3-card w3-border w3-yellow">
        <h6>DATABASE BOXEN</h6>
        <p>
        <a class="w3-btn w3-purple" href="/mongodb">MongoDB</a>
        <a class="w3-btn w3-pink" href="/mysql">MySQL</a>
        </p>
      </div>

      <div class="w3-panel w3-card w3-border w3-red">
        <h6>PHP TO DO</h6>
        <p>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Chat System</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Content Management</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Cookies and Sessions</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Database Interfaces</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Email System</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">File Handling</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Networking</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Searching</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">Regular Expressions</a>
        <a class="w3-btn w3-yellow" href="#" style="margin-bottom: 5px;">XML And PHP</a>
        </p>
      </div>

      <div class="w3-panel w3-card w3-border w3-red">
        <h6>RAVEN SIM 14</h6>
        <p>
        <a class="w3-btn w3-black" href="/3d">Go To Link</a>
        </p>
      </div>

      <div class="w3-panel w3-card w3-border w3-red">
        <h6>SOME DATES</h6>
        <p>
        <a class="w3-btn w3-black" href="/2017-08-15">2017-08-15</a>
        <a class="w3-btn w3-black" href="/2017-08-19">2017-08-19</a>
        <a class="w3-btn w3-black" href="/2017-08-22">2017-08-22</a>
        <a class="w3-btn w3-green" href="/sqlite">SQLITE</a>
        </p>
      </div>

      <div class="w3-panel w3-card w3-border w3-red">
        <h6>SOME POINTS</h6>
        <p>
        <a class="w3-btn w3-black" href="/todo">TODO</a>
        <a class="w3-btn w3-black" href="/rest">REST</a>
        <a class="w3-btn w3-black" href="/mongo">MONGO</a>
        <a class="w3-btn w3-black" href="/W3">W3</a>
        <a class="w3-btn w3-black" href="/bootstrap">Bootstrap</a>
        </p>
      </div>
    {{/if}}

    {{#if user}}
      <div class="w3-panel w3-card w3-border w3-green">
        <h6>NEW IDEAS</h6>
        <p>
        <a class="w3-btn w3-yellow" href="#">None</a>
        <a class="w3-btn w3-yellow" href="/standard">Standard</a>
        </p>
      </div>
    {{/if}}

    <script src="/three/build/three.min.js"></script>
    <script src="/three/examples/js/loaders/MTLLoader.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/lib/example.js"></script>
    <script src="/keyboard.js"></script>
    <script src="/index.hbs.js"></script>
    <script src="/server-app/index.js"></script>
  </body>
</html>
