<div class="w3-bar w3-border w3-light-grey">
  <a href="{{url '/'}}" class="w3-bar-item w3-button">Home</a>
  <a href="{{url '/posts'}}" class="w3-bar-item w3-button">Post</a>
  <a href="{{url '/users'}}" class="w3-bar-item w3-button">Users</a>
  <a href="{{url '/color'}}" class="w3-bar-item w3-button">Color</a>
  <a href="{{url '/login'}}" class="w3-bar-item w3-button w3-green w3-right">Login</a>
</div>
