<h1>Posts Index</h1>

{{> posts/menu}}

<h2>List of posts.</h2>

{{#each posts as |post|}}

<div class="w3-panel">
  <h3><a href="{{url (concat '/posts/' post._id)}}">{{ post.title }}</a></h3>
  <div>{{ post.body }}</div>
  <p>
    <small>Created at: {{ post.createdAt }}</small>
  </p>
  {{#if post.author}}
  <p>Author: <a href="{{ url (concat '/users/' ../user._id) }}">{{ post.author.name }}</a></p>
  {{else}}
  <p>Author: HAS NO AUTHOR</p>
  {{/if}}
</div>
{{/each}}

